.pin-container {
  display: flex;
  flex-flow: row wrap;
}

#boards2 {
  background-color: rgb(240, 233, 233);
  
}

#add-pin-div {
  margin: 2em;
    #add-pin {
      font-size: 30.5em;
      color: silver;
    }
}

#close-button {
  margin-top: 1em;
}